.header-nav {
    background-color: #393738;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
}
#header-container {
    position: sticky !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999; 
  }
.header-nav img {
    height: 30px;
    width: 30px;
    margin-left: 16px;
}
.name {
    font-family: 'Sansation Light', sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin: 0 0 0 20px;
    color: white;
}
.profile-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    right: 16px;
}

.buy-button{
    height: 30px; 
    width: 70px; 
    cursor: pointer; 
    position: absolute;
    top: 10px;
    right: 66px;
    margin: 0 10px 0 20px;
}

.items{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between;
    margin: 0 -10px;
}
