.header-nav {
    background-color: #393738;
    height: 75px;
    display: flex;
    position: relative;
    align-items: center;
}
.header-container {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999; 
  }
.header-nav img {
    height: 50px;
    width: 50px;
    margin-left: 16px;
}
.name {
    font-family: 'Sansation Light', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 0 20px;
    color: white;
}
.profile-button {
    height: 32px;
    width: 32px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}
