.sideBar {
    background-color: #2d2b2c;
    width: 400px;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
}
.docu {
    width: 100%;
    height: 45px;
    align-items: center;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}
.docu h1 {
    margin: 0px;
    left: 24px;
    font-family: Actor;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: rgb(168, 168, 168);
    font-family: 'Sansation Light', sans-serif;
}
.docu img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: auto;
}
.document-item {
    position: relative; /* Ensure the dropdown is positioned relative to this container */
    width: 100%;
    box-sizing: border-box;
}

.dummy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    font-size: 14px;
    margin: 0px; /* Adjust margin as needed */
    padding: 13px; /* Add padding for better spacing */
    border: none; /* Remove default button border */
    cursor: pointer;
    height: 40px;
    width: 100%;
    transition: background-color 0.1s;
}

.dummy span {
    margin-left: 15px;
}

.document-item:hover .dummy {
    background-color: #393738; /* Add hover effect for better UX */
}

.dummyItem {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items to the start of the container */
}

.lesson-icon {
    color: #7e7b7d;
}

.quiz-icon {
    color: #7e7b7d;
}

.more-icon {
    width: 20px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    cursor: pointer;
    margin-left: auto; /* Push the icon to the far right */
    opacity: 0;
    transition: opacity 0.1s;
    color: #7e7b7d;
    border-radius: 5px;
}

.more-icon:hover {
    background-color: #494748;
    transition: background-color 0.2s;
}

.document-item:hover .more-icon {
    opacity: 1;
}

.dropdown-menu {
    background-color: #393738;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    position: absolute; /* Make the dropdown absolute */
    top: calc(100% + 5px); /* Position below the button with some space */
    right: 0; /* Align to the right edge of the parent container */
    z-index: 1000;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
}

.dropdown-menu ul {
    padding: 0px;
}

.dropdown-item {
    margin: 0;
}

.dropdown-menu ul li {
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.dropdown-menu-button {
    display: flex;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    padding: 13px;
    margin: 0px;
    width: 100%;
    height: 40px;
    margin: 0;
    align-items: center;
}

.dropdown-menu-button:hover {
    background-color: #494748;
}

.horizontal-line {
    border-top: 1px solid #767676;
    margin: 5px 0;
    padding: 0;
    list-style: none;
}

.dropdown-menu img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.dropdown-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 999; /* Ensure the overlay is on top of everything else */
    overflow: visible;
  }
  