.sideBar-lesson {
    background-color: #2d2b2c;
    width: 400px;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.docu2 h1 {
    margin: 0px;
    margin-left: 20px;
    font-family: Actor;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.87px;
    text-align: left;
    color: white;
    font-family: 'Sansation Light', sans-serif;
}
.docu2 {
    align-items: center;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.more-icon-lesson {
    width: 20px; 
    height: auto; 
    vertical-align: middle;
    float: right;
    cursor: pointer;
    margin-left: auto;
    color: white;
    border-radius: 5px;
    position: relative;
}
.more-icon-lesson:hover {
    background-color: #393738;
    transition: background-color 0.2s;
}

.line {
    border-top: 1px solid #767676;
    margin-top: 5px;
    margin-bottom: 5px; 
    padding: 0; 
    list-style: none; 
}
.files {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.files h1, .specifications h1, .pages h1 {
    margin: 0px;
    left: 44px;
    font-family: Actor;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.87px;
    text-align: left;
    color: white;
    font-family: 'Sansation Light', sans-serif;
    margin: 0px 0px 0px 0px;
}
.uploaded-files {
    display: flex;
    flex-direction: column;
}
.uploaded-file {
    display: flex;
    background-color: #393738;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 13px;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 7px;
}
.upload-new-button {
    display: flex;
    background-color: #393738;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 13px;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 7px;
    gap: 8px;
}
.upload-new-button:hover, .remove-file-button:hover {
    background-color: #494748;
    transition: background-color 0.1s;
}
.remove-file-button {
    color: rgb(204, 84, 84);
    border-radius: 5px;
    opacity: 0;
    cursor: pointer;
}
.uploaded-file:hover .remove-file-button {
    opacity: 1;
    transition: opacity 0.1s;
}
.specifications, .pages{
    height: 15%;
    display: flex;
    flex-direction: column;
}
.specifications-header, .pages-header {
    display: flex;
    flex-direction: row;
}
.add-button {
    width: 20px; 
    height: auto; 
    vertical-align: middle;
    float: right;
    cursor: pointer;
    margin-left: auto;
    color: white;
}
.addFile{
    border: 1px dashed #8D8D8D;
    border-width: 1px;
    width: 280px;
    height: 170px;
    margin: auto;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    cursor: pointer; 
    z-index: 100;
}
.addFile p{
    color: #8D8D8D;
    font-size: 13px;
    text-align: center; 
    margin-top: 60px;
}

