.sideBar{
    background-color: #2D2B2C;
    width: 434px;
    height: 941px;
    position: fixed;
}
.docu h1{
    margin: 0px;
    width: 266px;
    height: 62px;
    left: 24px;
    font-family: Actor;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.87px;
    text-align: left;
    color: white;
    font-family: 'Sansation Light', sans-serif;
    margin: 20px 0px 0px 30px;
}
.docu img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 30px;
    float: right;
    margin-top: -60px;
}
.EllipseBtn{
    width: 20px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    vertical-align: middle;
    float: right;   
    margin-right: 10px;
}
.dummy{
    background-color: #383637;
    width: 400px;
    color: white;
    font-size: 20px;
    margin: 10px ; /* Adjust margin as needed */
    padding: 5px; /* Add padding for better spacing */
}
.dummyItem {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the container */
  }
.dropdown-menu{
    background-color: #393738;
    width: 220px;
    height: auto;
    padding: 10px;
    margin-left: 155px;
    margin-top: 30px;
    border-radius: 10px;
    position: absolute; /* Make the dropdown absolute */
    z-index: 1; 
}
.dropdown-menu ul{
    padding: 0px !important;
}
.dropdown-menu ul li{
    color: white;
    padding: 5px;
    list-style-type: none;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
}
.horizontal-line {
    border-top: 1px solid #767676; /* or any other color */
    margin: 5px 0; /* adjust as needed */
    padding: 0; /* optional */
    list-style: none; /* optional, to remove bullet */
  }
.dropdown-menu img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}