.popup-container-lesson {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2D2B2C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    width: 800px;
    height: 500px;
  }
  
  .popup-content-lesson {
    display: flex;
    flex-direction: column;
  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .topic, .clock, .gLevel, .level, .learningOutcomes {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

.popup-container-lesson img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 20px;
}
  .title-input {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
  .topic input{
    width: 80%;
    color: #767676;
    background-color: #383637;
    border: none;
    height: 35px;
  }
  .learningOutcomes textarea{
    width: 80%;
    color: #767676;
    background-color: #383637;
    border: none;
    height: 80px;
    
  }
  .clock input{
    width: 25%;
    color: #767676;
    background-color: #383637;
    border: none;
    height: 35px;
  }
  .gLevel input, .level input{
    background-color: transparent;
    border: 1px solid white;
  }
  .gLevel label, .level label{
    color: white;
    margin-left: 0px;
    margin-right:100px;
  }
  h1{
    color: white;
    font-size: 30px;
  }
  .dropdown-menu-duration{
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-top: -60px;
    width: 25%;
    color: #767676;
    background-color: #383637;
    border: none;
    height: 35px;
  }
  .dropdown-menu-duration select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    color: white;
    background-color: transparent;
    border: none;
  }
.popup-container-lesson button{
   background-color: transparent;
   color: #858585;
   width: 200px;
  }
  
.custom button{
    margin-right: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button button {
    background-color: #f1c41b;
    float: right;
    margin-right: 20px;
    margin-top: -50px;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
}
